<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
    <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
    <import class="ch.qos.logback.core.FileAppender"/>

    <appender name="FILE" class="FileAppender">
        <file>testFile.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder class="PatternLayoutEncoder">
            <pattern>%date [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
    <logger name="at.woolph" level="ERROR">
        <appender-ref ref="STDERR"/>
    </logger>
</configuration>